/*
Copyright 2019 Telefónica Soluciones de Informática y Comunicaciones de España, S.A.U.
PROJECT: Urbo2

This software and / or computer program has been developed by Telefónica Soluciones
de Informática y Comunicaciones de España, S.A.U (hereinafter TSOL) and is protected
as copyright by the applicable legislation on intellectual property.

It belongs to TSOL, and / or its licensors, the exclusive rights of reproduction,
distribution, public communication and transformation, and any economic right on it,
all without prejudice of the moral rights of the authors mentioned above. It is expressly
forbidden to decompile, disassemble, reverse engineer, sublicense or otherwise transmit
by any means, translate or create derivative works of the software and / or computer
programs, and perform with respect to all or part of such programs, any type of exploitation.

Any use of all or part of the software and / or computer program will require the
express written consent of TSOL. In all cases, it will be necessary to make
an express reference to TSOL ownership in the software and / or computer
program.

Non-fulfillment of the provisions set forth herein and, in general, any violation of
the peaceful possession and ownership of these rights will be prosecuted by the means
provided in both Spanish and international law. TSOL reserves any civil or
criminal actions it may exercise to protect its rights.
*/

:root {
  --brand: 'Ayuntamiento de Santander';
  --scope: url(/assets/tenantThemes/santander/img/santander-logo-esquina.png);
}

app-login.ng-star-inserted:before {
  content: '';
  background-image: url(/assets/tenantThemes/santander/img/santander-logo-portada.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 320px;
  margin-right: 22px;
  margin-top: 100px;
  position: relative;
  left: 260px;
}

app-login main{
  width: 550px !important;
}

app-login main .form {
  margin-left: 250px !important;
  padding: 36px 32px 12px !important;
}
